# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
